{% extends 'base.html.twig' %}

{% block title %}Add Food to Menu{% endblock %}

{% block body %}
    <h1>Add Food to Menu</h1>

    {{ include('food/_form.html.twig') }}

    <a href="{{ path('food_index') }}">Return to Menu</a>
{% endblock %}
