{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <h1></h1>
    <p>
        TU Dublin Hotel
    </p>
    <p>
        <a href="{{ path('booking_new') }}">Book a Room</a>
    </p>

{% endblock %}
