{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}

{% block body %}
    <h1>Edit Booking</h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_permitted('ROLE_RECEP') %}
        <a href="{{ path('booking_index') }}">Back to Booking List</a>

        {{ include('booking/_delete_form.html.twig') }}
    {% endif %}

    {% if is_permitted('ROLE_GUEST') %}
        <a href = "/">Back to Home Page</a>
    {% endif %}
{% endblock %}
